.App {
  text-align: center;
  background-color: #ffffff; /* Valkoinen tausta */
  color: #000000; /* Musta teksti */
  padding-bottom: 50px; /* Lisää marginaalia alaosaan */
}

.App-header {
  background-color: #ff0000; /* Punainen tausta */
  padding: 20px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background-color: #000000; /* Musta nappi */
  color: #ffffff; /* Valkoinen teksti */
  border: none;
  padding: 10px 20px;
  margin-top: 5px; /* Pienempi marginaali yläreunaan */
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff0000; /* Punainen hover-efekti */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #ff0000; /* Punainen tausta */
  color: #ffffff; /* Valkoinen teksti */
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #ddd;
}

img {
  border-radius: 15px; /* Pyöristää kuvien reunat */
}

textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px; /* Suurempi marginaali alareunaan */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-list a {
  display: inline-block;
  background-color: #000000; /* Musta tausta */
  color: #ffffff; /* Valkoinen teksti */
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px 0;
}

.link-list a:hover {
  background-color: #ff0000; /* Punainen hover-efekti */
}