.driver-list {
  text-align: center;
  padding: 20px;
}

.driver-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
}

.driver-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  align-items: center;
}

.driver-card:hover {
  transform: scale(1.05);
}

.driver-card h3 {
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.driver-card h3 img {
  margin-left: 10px;
  width: 32px;
  height: 24px;
}

.driver-card img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid black; /* Add black border */
}

.driver-card p {
  margin: 5px 0;
}
